@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap')

*
  padding: 0
  margin: 0
  box-sizing: border-box

body 
  font-family: 'Fira Code', monospace

.header
  background: #7c5e99
  display: flex

  .links__navbar
    display: flex
    line-height: 60px

    li 
      color: #fff
      font-size: 20px
      list-style-type: none
      font-weight: normal
      cursor: pointer
      margin-right: 30px

  .download-cv
    background-color: #f25170
    display: inline-block
    height: 60px
    line-height: 60px
    padding: 0 20px
    color: #fff
    cursor: pointer
    box-shadow: 5px 5px 0px #000


